<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/admin/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/static/admin/css/style.min.css" rel="stylesheet">
<link href="/static/libs/layui/css/layui.css" rel="stylesheet">
<!--对话框-->
<link rel="stylesheet" href="/static/admin/js/jconfirm/jquery-confirm.min.css">

<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>


<script src="/static/admin/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/static/admin/js/lightyear.js"></script>

<!--对话框-->
<script src="/static/admin/js/jconfirm/jquery-confirm.min.js"></script>

<script type='text/javascript' src='/static/common/jquery.particleground.min.js'></script>
<script type="text/javascript" src="/static/libs/layui/layui.js"></script>
<script type="text/javascript" src="/static/libs/axios.min.js"></script>

<link rel="stylesheet" href="//at.alicdn.com/t/c/font_4790197_oudfd3w0r9.css">
<!-- <link rel="stylesheet" href="/static/libs/element-ui/css/element-ui.css">
<script src="/static/libs/element-ui/js/element-ui.js"></script> -->
</head>
  
<body>

{% block content %}
{% endblock %}

</body>

<script>
  function msg(msg) {
         layer.alert(msg)
      }
</script>
</html>
