<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发票管理后台</title>
    <!-- 引入 Element-UI 样式 -->
    <link rel="stylesheet" href="/static/libs/element-ui/css/element-ui.css">
    <!-- 引入 Vue 和 Element-UI JS -->
    <script src="/static/libs/element-ui/js/vue.js"></script>
    <script src="/static/libs/element-ui/js/element-ui.js"></script>
    <script src="/static/common/jquery.3.7.1.js"></script>
    <script src="/static/utils/helper.js?v=1"></script>
    <style>
        body {
            font-family: "PingFang SC", "Helvetica Neue", Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f2f5;
            color: #333;
        }

        .container {
            text-align: center;
            margin-top: 10%;
            padding: 20px;
        }

    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <h3>保单接口未接入</h3>
        </div>
    </div>
</body>

</html>